html(style="background: linear-gradient(white, white, pink") 
    head
        title= title
body(style="width:80%; margin: 0px auto 0px auto;") 
        nav
            ul(style="margin: 10px auto 10px auto")
                li(style="display:inline; float:left; width:20%; background-color:pink; color:black; text-align:center; padding:10px 0px 10px 0px")
                    a(href="/" ) Home
                li(style="display:inline; float:left; width:20%; background-color:pink; color:black; text-align:center; padding:10px 0px 10px 0px")
                    a(href="/muk") Muk
                li(style="display:inline; float:left; width:20%; background-color:pink; color:black; text-align:center; padding:10px 0px 10px 0px")
                    a(href="/snorlax") Snorlax
                li(style="display:inline; float:left; width:20%; background-color:pink; color:black; text-align:center; padding:10px 0px 10px 0px")
                    a(href="/mudkip") Mudkip
                li(style="display:inline; float:left; width:20%; background-color:pink; color:black; text-align:center; padding:10px 0px 10px 0px")
                    a(href="/squirtle") Squirtle

        h1(style="font-size:100px; text-align:center") THE TOP 4 BEST POKÉMON
        h3(style="text-align:center; font-size: 40px") This website is all about the top 4 best pokémon of all time.
        div(style="display: flex; align-items: center; width: 100%")
            img(src=`${squirtleData.sprites.front_default}`, alt="", style="width:250px;height:250px; margin: 0px auto 0px auto")
            img(src=`${mudkipData.sprites.front_default}`, alt="", style="width:250px;height:250px; margin: 0px auto 0px auto")
            img(src=`${cuboneData.sprites.front_default}`, alt="", style="width:250px;height:250px; margin: 0px auto 0px auto")
            img(src=`${snorlaxData.sprites.front_default}`, alt="", style="width:250px;height:250px; margin: 0px auto 0px auto")
        