html 
    head
        title= title
body 
        nav
            ul
                li
                    a(href="/" ) Home
                li
                    a(href="/muk") Muk
                li
                    a(href="/snorlax") Snorlax
                li
                    a(href="/mudkip") Mudkip
                li
                    a(href="/squirtle") Squirtle

        h1(style="font-size:100px; text-align:center") THE TOP 4 BEST POKÉMON
        p This website is all about the top 4 best pokémon ever!
        div(style="background-color:blue")
            img(src=`${squirtleData.sprites.front_default}`, alt="", style="width:250px%;height:250px")
            img(src=`${mudkipData.sprites.front_default}`, alt="", style="width:250px%;height:250px")
            img(src=`${cuboneData.sprites.front_default}`, alt="", style="width:250px%;height:250px")
            img(src=`${snorlaxData.sprites.front_default}`, alt="", style="width:250px%;height:250px")
        