html 
    head
        title= title
body 
        nav
            ul
                li
                    a(href="/" ) Home
                li
                    a(href="/muk") Muk
                li
                    a(href="/snorlax") Snorlax
                li
                    a(href="/mudkip") Mudkip
                li
                    a(href="/squirtle") Squirtle

        h1= data.name
        h2 Type
        p= data.type
        h2 Height
        p= data.height
        h2 Weight
        p= data.weight
        h2 Ability 1
        p= data.ability1
        hr
        h1 Official Descpriction
        p "The fin on Mudkip's head acts as highly sensitive radar. Using this fin to sense movements of water and air, this Pokémon can determine what is taking place around it without using its eyes." (Official Pokémon Website)
        