html 
    head
        title= title
    body 
        nav
             ul(class="reveal")
                li
                    a(href="/" ) Home
                li
                    a(href="/about") About Our Staff
                li
                    a(href="/location") Location
                li
                    a(href="/movies") Movies
                l1
                    a(href="/reviews") Reviews
        h1= data.name
        h2 Type
        p= data.type
        h2 Height
        p= data.height
        h2 Weight
        p= data.weight
        h2 Ability 1
        p= data.ability1
        h2 Ability 2
        p= data.ability2
        hr
        h1 Official Descpriction
        p(font-style:italic) "Squirtle's shell is not merely used for protection. The shell's rounded shape and the grooves on its surface help minimize resistance in water, enabling this Pokémon to swim at high speeds." (Official Pokémon Website)
        