html 
    head
        title= title
body 
        nav
            ul
                li
                    a(href="/" ) Home
                li
                    a(href="/muk") Muk
                li
                    a(href="/snorlax") Snorlax
                li
                    a(href="/mudkip") Mudkip
                li
                    a(href="/squirtle") Squirtle

        h1= data.name
        h2 Type
        p= data.type
        h2 Height
        p= data.height
        h2 Weight
        p= data.weight
        h2 Ability 1
        p= data.ability1
        hr
        h1 Official Descpriction
        p "Squirtle's shell is not merely used for protection. The shell's rounded shape and the grooves on its surface help minimize resistance in water, enabling this Pokémon to swim at high speeds." (Official Pokémon Website)
        