html(style="background: linear-gradient(white, white, pink") 
    head
        title= title
body(style="width:80%; margin: 0px auto 0px auto;")  
        nav
            ul(style="margin: 10px auto 10px auto")
                li(style="display:inline; float:left; width:20%; background-color:pink; color:black; text-align:center; padding:10px 0px 10px 0px")
                    a(href="/" ) Home
                li(style="display:inline; float:left; width:20%; background-color:pink; color:black; text-align:center; padding:10px 0px 10px 0px")
                    a(href="/muk") Muk
                li(style="display:inline; float:left; width:20%; background-color:pink; color:black; text-align:center; padding:10px 0px 10px 0px")
                    a(href="/snorlax") Snorlax
                li(style="display:inline; float:left; width:20%; background-color:pink; color:black; text-align:center; padding:10px 0px 10px 0px")
                    a(href="/mudkip") Mudkip
                li(style="display:inline; float:left; width:20%; background-color:pink; color:black; text-align:center; padding:10px 0px 10px 0px")
                    a(href="/squirtle") Squirtle

        h1= data.name
        hr
        h1 Official Description
        p "Squirtle's shell is not merely used for protection. The shell's rounded shape and the grooves on its surface help minimize resistance in water, enabling this Pokémon to swim at high speeds." (Official Pokémon Website)
        img(src="https://www3.lunapic.com/editor/working/157533578138805948?5566527151")
        h2 Type
        p= data.type
        h2 Height
        p= data.height
        h2 Weight
        p= data.weight
        h2 Ability 1
        p= data.ability1
        
        